{% block container %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'crearcotizacion.css' %}">
    <title>Agregar o Buscar Procesador</title>
    <style>
        #formulario-cpu, #formulario-buscar {
            display: none; /* Ocultos al inicio */
        }
    </style>
</head>

<body>  
    <div class="navbar">
        <h1 id="titulo1">Cribortech</h1>
        <div class="nav_links">
            <a href="#">Inicio</a>
            <a href="{% url 'sobrenosotros' %}">Sobre Nosotros</a>
            <a href="{% url 'customizar' %}">Customizar PC</a>
            <a href="{% url 'perfilusuario' %}" class="perfil">Perfil</a>
            <a href="{% url 'logout' %}" class="btn1">Cerrar Sesión</a>
        </div>
    </div>
        
    <div class="customizar_pc">
        <h2>TARJETA GRAFICA</h2>
        
        <!-- Botones para mostrar formularios -->
        <button id="btn-agregar" class="btn btn-primary">Agregar Tarjeta Grafica</button>
        <button id="btn-buscar" class="btn btn-primary">Buscar Tarjeta Grafica</button>
        <button id="btn-editar" class="btn btn-primary">Editar Tarjeta Grafica</button>  
        <button id="btn-eliminar" class="btn btn-primary">Eliminar Tarjeta Grafica</button>
        <button id="btn-volver">Volver</a></button>
 
        <form id="formulario-cpu" method="POST">
            {% csrf_token %}

            <label>Fabricante:</label>
            <input type="text" name="gpu_fabricante" required>

            <label>Modelo:</label>
            <input type="text" name="gpu_modelo" required>

            <label>Memoria RAM:</label>
            <input type="text" name="gpu_vram" placeholder="Ej: 4 GB" required>

            <label>Puerto:</label>
            <select name="gpu_puerto" required>
                <option value="gpu_puerto">--Seleccione Puerto--</option>
                {% for p in puerto %}
                    <option value="{{ p.id }}">{{ p.nombre }}</option>
                {% endfor %}
            </select>

            <label>Stock:</label>
            <input type="number" name="gpu_stock" required>

            <label>Precio:</label>
            <input type="number" name="gpu_precio" required>

            <br><br>
            <button type="submit" id="btn-agregar-abajo">Agregar</button>
            <button type="button" id="btn-volver-agregar" class="btn btn-secondary">Volver</button>
        </form>

        <!-- Formulario Buscar Procesador -->
        <form id="formulario-buscar" method="GET" action="{% url 'buscartarjetagrafica' %}" >
            <label>Ingrese el modelo o fabricante a buscar:</label>
            <input type="text" name="consulta" placeholder="Ej: ASUS DUAL-RTX4070TIS-O16G" required>
            <br><br>
            <button type="submit" class="btn btn-info" id="btn-agregar-abajo">Buscar</button>
            <button type="button" id="btn-volver-buscar" class="btn btn-secondary">Volver</button>
        </form>

        {% if consulta %}
            <h3>Resultados de búsqueda para: "{{ consulta }}"</h3>
            {% if resultados %}
                <ul>
                    {% for procesador in resultados %}
                        <li>{{ procesador.fabricante }} - {{ procesador.modelo }} - {{ procesador.frecuencia }} - {{ procesador.precio }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No se encontraron procesadores con ese término.</p>
            {% endif %}
        {% endif %}
    </div>

    <script>
        const btnAgregar = document.getElementById('btn-agregar');
        const btnBuscar = document.getElementById('btn-buscar');
        const formularioAgregar = document.getElementById('formulario-cpu');
        const formularioBuscar = document.getElementById('formulario-buscar');
        const btnVolverAgregar = document.getElementById('btn-volver-agregar');
        const btnVolverBuscar = document.getElementById('btn-volver-buscar');
        const btnEliminar = document.getElementById('btn-eliminar');
        const btnEditar = document.getElementById('btn-editar');
        const btnVolver = document.getElementById('btn-volver');

        btnAgregar.addEventListener('click', function() {
            formularioAgregar.style.display = 'block';
            btnAgregar.style.display = 'none';
            btnBuscar.style.display = 'none';
            btnEditar.style.display = 'none';
            btnEliminar.style.display = 'none';
            btnVolver.style.display = 'none';
        });
        btnBuscar.addEventListener('click', function() {
            formularioBuscar.style.display = 'block';
            btnAgregar.style.display = 'none';
            btnBuscar.style.display = 'none';
            btnEditar.style.display = 'none';
            btnEliminar.style.display = 'none';
            btnVolver.style.display = 'none';
        });

        btnVolverAgregar.addEventListener('click', function() {
            formularioAgregar.style.display = 'none';
            btnAgregar.style.display = 'inline-block';
            btnBuscar.style.display = 'inline-block';
            btnEditar.style.display = 'inline-block';
            btnEliminar.style.display = 'inline-block';
            btnVolver.style.display = 'inline-block';
            formularioAgregar.reset(); // Opcional: limpia campos
        });

        btnVolverBuscar.addEventListener('click', function() {
            formularioBuscar.style.display = 'none';
            btnAgregar.style.display = 'inline-block';
            btnBuscar.style.display = 'inline-block';
            btnEditar.style.display = 'inline-block';
            btnEliminar.style.display = 'inline-block';
            btnVolver.style.display = 'inline-block';
            formularioBuscar.reset(); // Opcional: limpia campos
        });
        btnEditar.addEventListener('click', function() {
            window.location.href = "{% url 'editartarjetagrafica' %}";
        });
        btnEliminar.addEventListener('click', function() {
            window.location.href = "{% url 'eliminartarjetagrafica' %}";
        });
        btnVolver.addEventListener('click', function() {
            window.location.href = "{% url 'panel_admin' %}";
        });



    </script>
</body>
</html>
{% endblock container %}
